:root {
  --MAIN-TEXT-color: #323235;
  --MAIN-TITLES-TEXT-color: #778ba5;
  --MAIN-LINK-color: #4881cd;
  --MAIN-LINK-HOVER-color: #599af1;
  --MAIN-ANCHOR-color: #4881cd;
  --MENU-HEADER-BG-color: #283e5b;
  --MENU-HEADER-BORDER-color: #435c7c;
  --MENU-SEARCH-BG-color: #202c3c;
  --MENU-SEARCH-BOX-color: #4d6584;
  --MENU-SEARCH-BOX-ICONS-color: #4d6584;
  --MENU-SECTIONS-ACTIVE-BG-color: #0a0c0e;
  --MENU-SECTIONS-BG-color: #1c222a;
  --MENU-SECTIONS-LINK-color: #ccc;
  --MENU-SECTIONS-LINK-HOVER-color: #e6e6e6;
  --MENU-SECTION-ACTIVE-CATEGORY-color: #777;
  --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #fff;
  --MENU-VISITED-color: #33a1ff;
  --MENU-SECTION-HR-color: #20272b;
}

#sidebar {
  background-color: var(--MENU-SECTIONS-BG-color) !important;
}

#sidebar #header-wrapper {
  background: var(--MENU-HEADER-BG-color) !important;
  border-color: var(--MENU-HEADER-BORDER-color) !important;
}

#sidebar .searchbox {
  border-color: var(--MENU-SEARCH-BOX-color) !important;
  background: var(--MENU-SEARCH-BG-color) !important;
}

#sidebar .searchbox label,
#sidebar .searchbox span,
#sidebar .searchbox input {
  color: rgba(255, 255, 255, 0.9) !important;
}

#sidebar a {
  color: var(--MENU-SECTIONS-LINK-color) !important;
}

#sidebar a:hover {
  color: var(--MENU-SECTIONS-LINK-HOVER-color) !important;
}

#sidebar ul li.active > a {
  background: var(--MENU-SECTION-ACTIVE-CATEGORY-BG-color) !important;
  color: var(--MENU-SECTION-ACTIVE-CATEGORY-color) !important;
}

#sidebar hr {
  border-color: var(--MENU-SECTION-HR-color) !important;
}

.searchbox {
  border-color: var(--MENU-SEARCH-BOX-color) !important;
  background: var(--MENU-SEARCH-BG-color) !important;
}

#sidebar #footer h2.github-title {
  color: #fd9827 !important;
}

#sidebar {
  width: 300px !important;
}

#header #logo-svg {
  width: 8rem !important;
  height: 2rem !important;
}
